/* 列表頁 */
.green-title{
    position: relative;
}
.green-title::after{
    content: '翻轉教育 引導孩子駕未來';
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%);
    font-size: 1.75rem;
    opacity: 50%;
    letter-spacing: 5px;
}
@media (max-width: 991px){
    .green-title::after{
        font-size: 1em;
    }
}
@media (max-width: 575.98px){
    .green-title::after{
        font-size: 0.75em;
        width: 100%;
        bottom: -18px;
    }
}

.list-pagination {
    display: flex;
    justify-content: flex-end;
    margin: 60px -0.25rem 0;
}
.list-pagination * {
    margin: 0 0.25rem;
    font-size: 18px;
}
.list-pagination a {
    color: #2f7c44;
    font-weight: 700;
}
.list-pagination a:last-child {
    color: #d5d5d5;
}
.list-pagination a:last-child:not(.last-page):hover {
    color: #2f7c44;
}
.list-pagination span {
    color: #d5d5d5;
    font-weight: 700;
}

.list-wrap{
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 60px;
    justify-content: space-between;
}

.list-wrap a{
    width: 49%;
    margin: 1rem 0;
    background: #ffffff;
    box-shadow: 0 2px 15px 0 rgb(0 0 0 / 10%);
}

.list-img{
    position: relative;
}

.list-img:hover::before{
    content: "";
    background-color: rgb(43 65 49 / 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    z-index: 1;
}

.list-img:hover::after {
    content: "";
    width: 60px;
    height: 60px;
    position: absolute;
    background: url('../images/hover_search.svg')center center no-repeat;
    top: 45%;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
}


@media (max-width: 480px){
    .list-pagination{
        margin: 2rem -0.25rem 0;
    }
    .list-wrap{
        padding: 0 0 2rem 0;
    }
    .list-wrap a{
        width: 100%;
    }
}

.list-wrap a span{
    margin: 1rem 1rem 0;
    color: #2f7d44;
    display: block;
}

.list-wrap a p{
    margin: 0rem 1rem 1rem 1rem;
    font-size: 18px;
    font-weight: 600;
    color: #000000;
}

.list-wrap a:hover p{
    color: #2f7d44;
}

/* 列表說明頁 */
body{
    background: #f7f7f7;
}
.ac-section:not(.ac-section_first){
    margin: 4em 0;
    padding: 0;
}
.list-content{
    max-width: 800px;
    margin: 0 auto;
}

.list-content-name{
    color: #0f812e;
    text-align: center;
}

.list-content-title{
    font-weight: 700;
    margin-top: 1rem;
    text-align: center;
    font-size: 1.75em;
}

.list-content p{
    font-weight: 700;
    text-align: justify;
    white-space: pre-line;
}
.list-content b{
    color: #0f812e;
    font-weight: 700;
    font-size: 1.25em;
    margin: 2rem 0 1rem;
    display: block;
}

.green_owlcarousel .owl-carousel .owl-nav span{
    width: 81px;
    height: 81px;
    display: block;
    border-radius: 50%;
}



.owl-theme .owl-nav{
    margin-top: 0;
    height: 100%;
    top: 0;
    z-index: -1;
}
.green_owlcarousel .owl-carousel .owl-nav button:focus{
    outline: none;
}
.green_owlcarousel .owl-carousel .owl-nav button:hover{
    background: transparent;
}

.green_owlcarousel .owl-carousel .owl-nav button.owl-prev{
    position: absolute;
    left: -120px;
    top: 50%;
    transform: translateY(-50%);
}
.ac-carousel-fullscreen .owl-carousel .owl-nav .owl-prev span{
    background: url("../images/carousel-arrow-left.png") center no-repeat;
    background-size: cover;
}
.ac-carousel-fullscreen .owl-carousel .owl-nav .owl-prev:hover span{
    background: url("../images/carousel-arrow-left-hover.png") center no-repeat;
    background-size: cover;
}

.green_owlcarousel .owl-carousel .owl-nav button.owl-next{
    position: absolute;
    right: -120px;
    top: 50%;
    transform: translateY(-50%);
}
.green_owlcarousel .owl-carousel .owl-nav .owl-next span{
    background: url("../images/carousel-arrow-right.png") center no-repeat;
    background-size: cover;
}
.green_owlcarousel .owl-carousel .owl-nav .owl-next:hover span{
    background: url("../images/carousel-arrow-right-hover.png") center no-repeat;
    background-size: cover;
}

@media (max-width: 991px){
    .green_owlcarousel .owl-carousel .owl-nav span{
        width: 50px;
        height: 50px;
    }
    .green_owlcarousel .owl-carousel .owl-nav button.owl-prev{
        left: -60px;
    }
    .green_owlcarousel .owl-carousel .owl-nav button.owl-next{
        right: -60px;
    }
}

@media (max-width: 480px){
    .owl-item a{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
    }
    .green_owlcarousel .owl-carousel .owl-nav span{
        width: 24px;
        height: 24px;
    }
    .green_owlcarousel .owl-carousel .owl-nav button.owl-prev{
        left: -16px;
    }
    .green_owlcarousel .owl-carousel .owl-nav button.owl-next{
        right: -16px;
    }
}

.green_owlcarousel .list-content-carousel-text{
    line-height: 80px;
    height: 80px;
    text-align: left;
    color: #0f812e;
    font-weight: 700;
    font-size: 1.25rem;
    padding: 0 0 0 2rem;
    background: #ffffff;
    display: block;
}

.green_owlcarousel_video .owl-carousel .owl-item.owl-item .item a {
    cursor: pointer;
    position: relative;
    z-index: 1;
}
.green_owlcarousel_video .owl-carousel .owl-item.owl-item .item a:before {
    content: "";
    background: url("../images/icon-video-play.svg") center center no-repeat;
    width: 59px;
    background-color: #00000080;
    height: 59px;
    position: absolute;
    left: 50%;
    top: 40%;
    border-radius: 50%;
}

@media (max-width: 480px){
    .green_owlcarousel_video .owl-carousel .owl-item.owl-item .item a:before{
        left: 40%;
        top: 25%;
    }
}

/* 網站連結 */
.link-wrap {
    display: flex;
    align-items: center;
    background: #ffffff;
    padding: 2rem 4rem;
}
.link-title {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    color: #0f812e;
    font-weight: 700;
}
.link-title i{
    margin-right: 0.5rem;
}
.link-wrap a {
    margin: 0 0.5rem;
    color: #404040;
    border-bottom: 1px solid #404040;
    font-weight: 700;
}
.link-wrap a:hover {
    opacity: 0.8;
}

/* 生態宣言 */
.green-background {
    background: #ebf2ed;
    max-width: 100%;
    text-align: center;
    padding: 2rem;
}
.green-background p{
    text-align: center;
}