/* ========================================================================================== */
/* ==                                                                                      == */
/* ==                                   GLOBAL CSS Start                                   == */
/* ==                                                                                      == */
/* ========================================================================================== */
/* ========================================== */
/* ==                                      == */
/* ==            Default Start             == */
/* ==                                      == */
/* ========================================== */
@charset "UTF-8";
/* @import url(//fonts.googleapis.com/earlyaccess/notosanstc.css); */

* {margin: 0;padding: 0;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;word-wrap: break-word;/*-ms-overflow-style: none;scrollbar-width: none;*/}
*:before,*:after {margin: 0;padding: 0;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;word-wrap: break-word;/*-ms-overflow-style: none;scrollbar-width: none;*/}
/** ::-webkit-scrollbar { display: none; }*/

html {font-style: normal;word-wrap: break-word;padding: 0;margin: 0;height: 100%;width: 100%;font-weight: 500;}
body{font-family:Arial,'Noto Sans TC','Apple LiGothic Medium','Microsoft JhengHei','SimHei';width:100%;height:100%;background: #fff;font-size:0.938em;font-weight:400;color:#333;}
.ac-section{padding: 4em 0;}
.ac-section.ac-section_first{padding-top: 80px;background-color: #f7f7f7;position: relative;z-index: 1;}
.ac-section.ac-section_first_news{padding-top: 100px;background-color:#F7F7F7;}
.ac-section.ac-section_last{padding: 5.5em 0 0;}
img{width:100%;max-width:100%}
a{cursor:pointer}
a:hover,a:focus{text-decoration:blink}
/* input:focus,textarea:focus{box-shadow:none;outline:0} */
/* button:focus{outline:0} */
/* input:focus,textarea:focus{box-shadow:none;outline:0} */
ol,ul{list-style:none;margin-bottom:0}
.ac_blank{height: 130px;}
@media (max-width:1199.98px){
    .ac-section.ac-section_first{
        padding-top: 50px;
    }
}
@media (max-width: 575.98px) {
    .ac-section{padding: 4.5em 0 0;}
    .ac-section.ac-section_last{padding: 5.5em 0 0;}
}
/* typography start */
h1{text-indent: -99999px;position: absolute;}
h2{font-size:2.375em;font-weight:700;line-height: normal;}
h3{font-size:1.688em;font-weight:500;}
h4{font-size:1.375em;font-weight:500;}
h5{font-size:1.15em;font-weight:500;}
span, p{font-size:1.063em;font-weight: 300;line-height: 1.5;}
span.date, p.date{font-size:1.188em;font-weight:400;font-family:'Roboto Condensed'}
span.tip, p.tip{font-size:1.000em;font-weight:400;}
span.map-info, p.map-info{font-size:1.000em;font-weight:400;}

h1.light, h2.light, h3.light, h4.light,h5.light , p.light, p.date.light, p.map-info.light, span.light, span.date.light, span.map-info.light{color:#2b4131;}
span.tip.light, p.tip.light{color:#2f7d44}
h1.dark, h2.dark, h3.dark, h4.dark,h5.dark, p.dark, p.date.dark, p.map-info.dark, span.dark, span.date.dark, span.map-info.dark{color:#ffffff;}
span.tip.dark, p.tip.dark{color:#e8efa7}
.ac_accesskey{color:#2f7d44;margin-left: -30px;}

@media (max-width:991px){
    h2{font-size:1.500em;}
    h3{font-size:1.250em;}
    h4{font-size: 1.125em;}
    h5{font-size: 1.05em;}
    span,p{font-size: 1.000em;}
    span.date, p.date{font-size:1.125em;}
    span.tip, p.tip{font-size:0.938em;}
    span.map-info, p.map-info{font-size:0.938em;}
}
@media (max-width: 575.98px) {
    h2{font-size:1.375em;}
    h3{font-size:1.125em;}
    h4{font-size: 1.000em;}
    h5{font-size: 0.97em;}
    span,p{font-size:0.938em;}
    span.date, p.date{font-size:1.063em;}
    span.tip, p.tip{font-size:0.875em;}
    span.map-info, p.map-info{font-size:0.875em;}
}
/* typography end*/

/* ========================================== */
/* ==                                      == */
/* ==            Default  End              == */
/* ==                                      == */
/* ========================================== */


/*-------------------------------------- breadcrumb style start --------------------------------------*/
.ac_breadcrumb_area{font-size: 0.875em;padding: 30px 10px 70px 30px;position: relative;text-align: right;}
.ac_breadcrumb_area span{font-size: 1.000em;padding: 0 5px;}
.ac_breadcrumb_area a{font-size: 1.000em;padding: 0px 5px;position: relative;}
.ac_breadcrumb_area.light{color: #9caf88;}
.ac_breadcrumb_area.light span{color: #2b4131;}
.ac_breadcrumb_area.light a{color: #2f7d44;}
.ac_breadcrumb_area.light a:first-child:before{content:"";width: 20px;height: 20px;position:absolute;top: -2px;left: -19px;background:url(../../assets/images/breadcrumb-light.svg)center center no-repeat;}
.ac_breadcrumb_area.dark{color: #ffffff;background-color: #2b4131;}
.ac_breadcrumb_area.dark span{color: #ffffff;font-weight: 300;}
.ac_breadcrumb_area.dark a{color: #ffffff;font-weight: 500;}
.ac_breadcrumb_area.dark a:first-child:before{content:"";width: 20px;height: 20px;position:absolute;background:url(../../assets/images/breadcrumb-dark.svg)center center no-repeat;top: -2px;left: -19px;}
/*-------------------------------------- breadcrumb style end --------------------------------------*/

/*-------------------------------------- news_article style start --------------------------------------*/
.ac_filter.news_article.horizontal{display: flex;width: 100%;flex-wrap: wrap;}
.ac_filter.news_article.horizontal>div{width: 100%;}
.ac_filter.news_article.horizontal .menu-filters{width: 100%;text-align: right;}
.ac_filter.news_article.horizontal .content_area{width: 100%;display:flex;flex-wrap:wrap;padding-top: 10px;}
.ac_filter.news_article .menu-filters ul{list-style:none;padding: 0;}
.ac_filter.news_article .menu-filters ul li{display:inline-block;color:#f8f6ff;text-transform:capitalize;letter-spacing:1px;padding:8px 0;transition:1.0s;margin: 10px 0;}
.ac_filter.news_article .menu-filters ul li a{padding: 5px 10px;font-size: 1.250em;border-radius:0;text-decoration:none;cursor:pointer;transition:1.0s;border-radius: 0;color: #2b4131;}
.ac_filter.news_article .menu-filters ul li a.main_style{font-size: 1.500em;font-weight: 900;}
.ac_filter.news_article .menu-filters ul li a.active{color: #2b4131;border-bottom: 1px solid #2b4131;}
.ac_filter.news_article .menu-filters ul li a:hover{border-bottom: 1px solid #2b4131;color: #2b4131;}

.ac_filter.news_article .ac_filter_all .img_area{transition:0.5s;display: flex;width: 100%;position: relative;height: 230px;}
.ac_filter.news_article .ac_filter_all .img_area img{transition:0.5s;object-fit: cover;width: 100%;position: relative;}
.ac_filter.news_article .ac_filter_all .text_area{width: 100%;}
.ac_filter.news_article .ac_filter_all.left a{background-color:#444444;padding:10px;color:#ffffff;width:100px;height:50px;margin: 15px 10px 15px auto;display:flex;justify-content:center;align-items:center;border-radius: 7px;}
.ac_filter.news_article .content_area .ac_filter_all{background-color: #ffffff;margin: 10px 16px;/* min-width: 260px; */transition: 0.5s;box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);cursor: pointer;}
.ac_filter.news_article .content_area .ac_style01{width: calc(33% - 29px);display: flex;flex-wrap: wrap;}
.ac_filter.news_article .content_area .ac_style01 .img_area img:before{content:"";translate:.5s}
.ac_filter.news_article .content_area .ac_style01 .img_area img:after{content:"";translate:.5s}
.ac_filter.news_article .content_area .ac_style01:hover .img_area:before{z-index: 13;content: "";background-color: rgb(43 65 49 / 0.7);width: 100%;height: 100%;position: absolute;top: 0;right: 0;display: block;z-index: 1;}
.ac_filter.news_article .content_area .ac_style01:hover .img_area:after{content:"";width: 60px;height: 60px;position:absolute;background:url(../../assets/images/hover_search.svg)center center no-repeat;top: 40%;left: 40%;z-index: 1;}
.ac_filter.news_article .content_area .ac_style01 .text_area{padding: 15px 25px;display: flex;width: 100%;flex-wrap: wrap;height: 180px;}
.ac_filter.news_article .content_area .ac_style01 .text_area h3{margin:0;padding: 19px 0 4px;line-height: 1.58;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;height: 100px;}
.ac_filter.news_article .content_area .ac_style01 .text_area p.date{margin: 0 11px;padding: 5px 0;width: calc(100% - 94px);}
.ac_filter.news_article .content_area .ac_style01:hover .text_area h3{color: #2f7d44;}
.ac_filter.news_article .content_area .ac_style01:hover .text_area p.date{color: #2D7D44;}
@media (max-width: 991px) {
    .ac_filter.news_article .content_area .ac_style01{width: calc(49% - 29px);}
    .ac_filter.news_article .content_area .ac_style01 .text_area h3{height: 80px;}

}
@media (max-width: 767.98px) {
    .ac_filter.news_article .content_area .ac_style01{flex-wrap: wrap;width: 100%;}
    .ac_filter.news_article .content_area .ac_style01 .img_area img{border-radius: 9px 9px 0px 0px;}
    .ac_filter.news_article .menu-filters ul li a{font-size:0.938em}
    .ac_filter.news_article .menu-filters ul li a.main_style{font-size:1.063em}
    .ac_filter.news_article.horizontal .menu-filters{text-align:left}
    .ac_filter.news_article.horizontal .block_header{font-size:1.563em}
    .ac_filter.news_article .content_area .ac_style01 .text_area h3{padding: 19px 0 3px;height: 80px;}
}
@media (max-width: 575.98px) {
    .ac_filter.news_article .content_area .ac_style01 .text_area h3{height: 75px;}
}

/* article tag style start */
span.ac_articletag.large,p.ac_articletag.large{width:76px;height:43px;text-align:center;font-size:1.250em;padding:7px 0;font-weight:500;margin: 0;}
span.ac_articletag.tiny,p.ac_articletag.tiny{width:64px;height:39px;text-align:center;font-size:1.188em;padding:7px 0;font-weight:500;margin: 0;}
span.ac_articletag.cyan,p.ac_articletag.cyan{background-color:#1d95a5;color:#ffffff}
span.ac_articletag.green,p.ac_articletag.green{background-color:#2f7d44;color:#ffffff}
span.ac_articletag.lightgreen,p.ac_articletag.lightgreen{background-color:#e8efa7;color:#2b4131}
span.ac_articletag.yellow,p.ac_articletag.yellow{background-color:#eac759;color:#2b4131}
span.ac_articletag.gray,p.ac_articletag.gray{background-color:#dedede;color:#2b4131}
@media (max-width: 575.98px) {
    span.ac_articletag.large,p.ac_articletag.large{font-size: 1.000em;height: 37px;width: 60px;}
    span.ac_articletag.tiny,p.ac_articletag.tiny{font-size: 0.938em;height: 33px;padding: 7px 0 10px 0;width: 55px;}
}
/* article tag style end */

.ac_page_numbers{padding: 30px 0 60px;width: 100%;}
.ac_page_numbers ul{display: flex;justify-content: center;}
.ac_page_numbers ul li a{padding: 17px;color: #2f7d44;border: 1px solid #dedede;display: block;font-size: 1.000em;line-height: normal;font-family: 'Roboto Condensed';}
.ac_page_numbers ul li a:hover{background-color: #2f7d44;color: #ffffff;}
.ac_page_numbers ul li a.active{background-color: #2f7d44;color: #ffffff;}
/*-------------------------------------- news_article style end --------------------------------------*/

/*-------------------------------------- card-participate style start --------------------------------------*/
.ac_card-participate{width:210px;height: 145px;margin: 0px 20px 0 0;padding:20px 10px 20px;box-shadow:0 2px 15px 0 rgba(0,0,0,0.1);position:relative;overflow:hidden;}
.ac_card-participate.white{background-color:#ffffff;width:210px;padding:30px 10px 10px 70px}
.ac_card-participate.yellow{background-color:#eac759;padding: 30px 0 10px 25px;width: 250px;}
.ac_card-participate.medal-green:before{content:"";background:url(../../assets/images/medal-green_Round.png)center center no-repeat;bottom: 37px;width: 60px;height: 85px;position: absolute;left: 5px;top: -6px;background-size: contain;}
.ac_card-participate.medal-silver:before{content:"";background:url(../../assets/images/medal-silver_Round.png)center center no-repeat;bottom: 37px;width: 60px;height: 85px;position: absolute;left: 5px;top: -6px;background-size: contain;}
.ac_card-participate.medal-copper:before{content:"";background:url(../../assets/images/medal-copper_Round.png)center center no-repeat;bottom: 37px;width: 60px;height: 85px;position: absolute;left: 5px;top: -6px;background-size: contain;}
.ac_card-participate.school:before{content:"";background: url(../../assets/images/icon-feature-school.svg)center center no-repeat;width: 80px;height: 76px;position: absolute;bottom: 0px;right: -9px;}
.ac_card-participate.medal:before{content:"";background: url(../../assets/images/icon-feature-medal.svg)center center no-repeat;width: 80px;height: 76px;position: absolute;bottom: 0px;right: -14px;}
.ac_card-participate.teacher:before{content:"";background: url(../../assets/images/icon-feature-teacher.svg)center center no-repeat;width: 80px;height: 76px;position: absolute;bottom: 0px;right: -14px;}
.ac_card-participate.student:before{content:"";background: url(../../assets/images/icon-feature-student.svg)center center no-repeat;width: 80px;height: 76px;position: absolute;bottom: 0px;right: -14px;z-index: 0;}
.map-info{display:flex;flex-wrap:wrap;position:relative;z-index:1}
.map-info p{text-align:left;margin:0;}
.ac_card-participate>.map-info>span{font-size: 1.250em;}
.ac_card-participate>.map-info>div>span:nth-child(2){font-size: 1.000em;}
.ac_card-participate.map-info span{padding:0 2px}
.map-info span.number{font-family: Roboto,sans-serif;font-size:2.750em;font-weight:700;color:#2b4131;}
.ac_card-participate .map-info>div{display:flex;align-items:baseline;width:100%}
/*-------------------------------------- card-participate style end --------------------------------------*/



/*-------------------------------------- button style start --------------------------------------*/
a.button-general.primary{border:2px solid #eac759;border-radius:100px;padding:10px 28px;width:120px;color:#2b4131;margin:3px;transition:0.5s;font-size: 1em;height: 45px;}
a.button-general.primary.disabled{background-color: #f1f1f1;border: solid 2px #dedede;color: #6e6e6e;cursor: unset;}
a.button-general.outline{border:1px solid #9caf88;border-radius:100px;width:120px;color:#2b4131;margin:3px;transition:0.5s;font-size:0.938em;position: relative;padding: 10px 35px 10px 15px;height: 45px;}
button.button-general.outline{border:1px solid #9caf88;border-radius:100px;width: unset;color:#2b4131;margin:3px;transition:0.5s;font-size:0.938em;position: relative;padding: 10px 15px 10px 15px;height: 45px;cursor: pointer;}
a.button-general.outline.disabled{background-color: #e7e7e7;border: solid 2px #dedede;color: #b7b7b7;cursor: unset;}
a.button-general.transparent{border-radius:100px;width:120px;color:#ffffff;margin:3px;background-color:rgb(255 255 255 / 0.3);transition:0.5s;position: relative;padding: 12px 35px 12px 15px;height: 45px;box-shadow: 0 2px 20px 0 #2b4131;}
a.button-general.transparent.disabled{background-color: rgba(255, 255, 255, 0.3);color: #b7b7b7;}
a.button-tiny{border:1px solid #eac759;border-radius:100px;padding:5px 12px;width: 54px;color:#2b4131;margin:3px;transition:0.5s;font-size:0.875em;height: 30px;}
a.button-general.primary:hover{background-color:#eac759}
a.button-general.primary.disabled:hover{background-color: #e7e7e7;}
a.button-general.outline:hover{color:#2f7d44}
a.button-general.outline.disabled:hover{color: #b7b7b7;}
a.button-general.transparent:hover{background-color:rgb(255 255 255 / 0.1)}
a.button-tiny:hover{background-color:#eac759}
a.button-general.outline:before{content:"";background: url(../../assets/images/button-outline-arrow-dark.svg)center center no-repeat;width: 16px;height: 16px;position: absolute;bottom: 14px;right: 18px;background-size: contain;transition:0.5s;}
a.button-general.outline:hover:before{content:"";background: url(../../assets/images/button-outline-arrow-light.svg)}
a.button-general.outline.disabled:before{content:"";background: url(../../assets/images/button-outline-arrow-gray.svg)}
a.button-general.outline.disabled:hover:before{content:"";background: url(../../assets/images/button-outline-arrow-gray.svg)}
a.button-general.transparent.disabled:before{content:"";background: url(../../assets/images/button-outline-arrow-gray.svg)}
a.button-general.transparent:before{content:"";background: url(../../assets/images/button-outline-arrow-white.svg)center center no-repeat;width: 16px;height: 16px;position: absolute;bottom: 13px;right: 13px;background-size: contain;transition: 0.5s;}
a.button-7step{border-radius: 5px;border: solid 1px #e7e7e7;background-color: #f7f7f7;color: #777777;padding: 15px 25px 15px 50px;margin: 3px;font-size: 1.063em;position: relative;transition:0.5s;}
a.button-7step:hover{background-color: #ffffff;color: #2b4131;border: 0;box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);}
a.button-7step.step_01:before{content:"";background: url(../../assets/images/icon-7-steps-group.svg)center center no-repeat;width: 35px;height: 35px;position: absolute;bottom: 9px;left: 10px;background-size: contain;transition:0.5s;opacity: 0.5;}
a.button-7step.step_02:before{content:"";background: url(../../assets/images/icon-7-steps-check.svg)center center no-repeat;width: 35px;height: 35px;position: absolute;bottom: 9px;left: 10px;background-size: contain;transition: 0.5s;opacity: 0.5;}
a.button-7step.step_03:before{content:"";background: url(../../assets/images/icon-7-steps-bulb.svg)center center no-repeat;width: 35px;height: 35px;position: absolute;bottom: 9px;left: 10px;background-size: contain;transition: 0.5s;opacity: 0.5;}
a.button-7step.step_04:before{content:"";background: url(../../assets/images/icon-7-steps-ecg.svg)center center no-repeat;width: 35px;height: 35px;position: absolute;bottom: 9px;left: 10px;background-size: contain;transition: 0.5s;opacity: 0.5;}
a.button-7step.step_05:before{content:"";background: url(../../assets/images/icon-7-steps-education.svg)center center no-repeat;width: 35px;height: 35px;position: absolute;bottom: 9px;left: 10px;background-size: contain;transition: 0.5s;opacity: 0.5;}
a.button-7step.step_06:before{content:"";background: url(../../assets/images/icon-7-steps-house.svg)center center no-repeat;width: 35px;height: 35px;position: absolute;bottom: 9px;left: 10px;background-size: contain;transition: 0.5s;opacity: 0.5;}
a.button-7step.step_07:before{content:"";background: url(../../assets/images/icon-7-steps-hand.svg)center center no-repeat;width: 35px;height: 35px;position: absolute;bottom: 9px;left: 10px;background-size: contain;transition: 0.5s;opacity: 0.5;}
a.button-7step.step_01:hover:before{content:"";opacity: 1;}
a.button-7step.step_02:hover:before{content:"";opacity: 1;}
a.button-7step.step_03:hover:before{content:"";opacity: 1;}
a.button-7step.step_04:hover:before{content:"";opacity: 1;}
a.button-7step.step_05:hover:before{content:"";opacity: 1;}
a.button-7step.step_06:hover:before{content:"";opacity: 1;}
a.button-7step.step_07:hover:before{content:"";opacity: 1;}
@media (max-width: 575.98px) {
    a.button-7step{font-size: 0.938em;}
    a.button-general.primary{/* border: 0; */width: 100px;padding: 11px;}
}

/*-------------------------------------- button style end --------------------------------------*/



/* ========================================================================================== */
/* ==                                                                                      == */
/* ==                                   GLOBAL CSS  End                                    == */
/* ==                                                                                      == */
/* ========================================================================================== */


/* ========================================================================================== */
/* ==                                                                                      == */
/* ==                                   Header CSS Start                                   == */
/* ==                                                                                      == */
/* ========================================================================================== */
.for_accessibility a{position:absolute;top:10px;left:10px;z-index:99;width:1px;height:1px;white-space:nowrap;overflow:hidden;color:#000}
.for_accessibility a:focus{width:auto;height:auto;padding:6px;background-color:#444;color:#fff}
.for_accessibility div{position:absolute;width:2px;height:2px;background-color:transparent;opacity:.1}

header .navbar{background-color: #f9f8f900 !important;/* height: 80px; */position: fixed;width: 100%;padding: 0px 0 10px 10px;align-items: flex-start;z-index: 98;}
header .navbar:before{content:"";width: 10%;background-color: #f9f8f9;left: 0;height: 108px;z-index: -1;box-shadow: 5px 8px 12px 0 rgba(0, 0, 0, 0.1);position: absolute;}
header .navbar-nav{padding: 2px 0px 2px 0;font-size: 1.1em;align-items: center;}
header .nav-item{padding: 0px 5px;}
header .navbar-collapse{background-color: #F9F8F9;padding: 17px 0px 17px 225px;box-shadow: 5px 8px 12px 0 rgba(0, 0, 0, 0.1);justify-content: center;}
header .navbar-light .navbar-brand{padding: 32px 14px;background-color: #ffffff;border-radius: 0px 0px 20px 20px;box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);margin-right: 0;width: 180px;margin-left: 1%;cursor: pointer;position: absolute;}
header .navbar-light .navbar-brand .logo_img_div{background-image: url(../../assets/images/ac_logo.png);width: 150px;background-size: cover;display: block;height: 84px;}
header .navbar-light .navbar-nav .nav-link{color: #2b4131;padding: 10px 1px;}
header .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus{color: #698150;}
header .navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {color: #698150;}
header .navbar-nav .dropdown-menu{border-radius: 0;box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.1);border: 0;border-bottom: 5px solid #2f7d44;padding: 0;}
header .dropdown-item{padding: 0.7rem 1.5rem;text-align: center;}
header .dropdown-item:hover, .dropdown-item:focus {background-color: #f3f5d9;color: #2b4131;}
header .menu_function,.menu_function_mobile{width: 100%;display: flex;align-items: center;background-color: #f9f8f9;padding: 0 5px;height: 2.65em;justify-content: flex-end;margin: 7px 0px;}
header .menu_function a,.menu_function_mobile a{color: #2b4131;}
header .menu_function a:hover,.menu_function_mobile a:hover{background-color: #eac759;}
header .menu_function a img,.menu_function_mobile a img{width: 40px;}
header .menu_function_mobile{display: none;}
header .nav-item.cellphone_show{display: none;}
header .navbar>div a{display:none;}
header .navbar .search{position:relative;display:flex;width: 100%;}
header .navbar .search form{width:100%;}
header .navbar .search .searchTerm{width: calc( 100% - 45px);border:0;border-bottom:1px solid #b7b7b7;border-right:none;padding:5px;height: 2.4em;border-radius:0;outline:none;background-color:#f0f8ff00;}
header .navbar .search .searchTerm:focus{border: 1px solid #007bff;background: #f3f4ff;}
header .navbar .search .searchButton{width:40px;height:36px;border:0;text-align:center;color:#2b4131;border-radius:0 5px 5px 0;cursor:pointer;font-size:1.250em;background-color:#ffffff00;}
header .navbar .search .searchButton span{display: none;}
header .navbar .menu_function a,header .navbar .menu_function_mobile a{min-width: 40px;display: flex;border-radius: 50%;padding: 0;height: 40px;align-items: center;justify-content: center;margin: 0 5px;}
header .navbar .menu_function a:nth-child(1),header .navbar .menu_function_mobile a:nth-child(1){}
/* header .navbar .menu_function a:nth-child(2),header .navbar .menu_function_mobile a:nth-child(2){width: 60px;} */
header .navbar .menu_function a:nth-child(3), header .navbar.menu_function_mobile a:nth-child(3){}
header .navbar .menu_function a:nth-child(4), header .navbar.menu_function_mobile a:nth-child(4){border: 2px solid #eac759;border-radius: 100px;padding: 10px;width: 100px;text-align: center;}
header .dropdown-toggle::after{margin-left: 2px;}
header .menu_rightblock{width: 440px;display: flex;align-items: center;background-color: #f9f8f9;padding: 0;box-shadow: 9px 8px 12px 0 rgb(0 0 0 / 10%);flex-wrap: wrap;align-content: center;}
/* search result page start*/
.gsc-control-cse .gsc-option-menu-container{min-width: 120px;}
/* search result page end*/

@media (max-width:1199.98px){
    header .navbar{background-color: #f9f8f9 !important;box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.1);padding: 0;}
    header .navbar-light .navbar-brand .logo_img_div{background:url(../../assets/images/ac_logo_mobile.png)center center no-repeat;width: 180px;height: 60px;background-size:contain;}
    header .navbar .search{width: 100%;}
    header .navbar:before{display: none;}
    header .navbar-collapse{padding:20px 0px 17px 0px}
    header .navbar-collapse .navbar-nav{height: calc(94vh - 160px);overflow: scroll;}
    header .navbar-expand-lg .navbar-collapse{box-shadow: none;padding: 0;}
    header .navbar-nav{font-size: 1.125em;}
    header .navbar-nav .dropdown-menu{box-shadow: none;background-color: #f9f8f9;}
    header .navbar-light .navbar-brand{margin: 10px 0px 10px;padding:0 10px;width:150px;background-color:#ffffff00;border-radius:0;box-shadow:0 0 BLACK;position: unset;}
    header .navbar-light .navbar-toggler {margin: 25px 10px 0px 0;padding: 5px 5px;}
    header .dropdown-item{text-align: left;}
    header .menu_function_mobile{width: 100%;display: flex;align-items: center;justify-content: flex-end;padding: 0 20px;box-shadow: none;flex-wrap: wrap;}
    header .nav-item.cellphone_show{display: unset;}
    header .nav-item.cellphone_show .dropdown-menu{color: #2b4131;background-color: #f1f1f1;padding: 10px 10px;border-bottom: 0;}
    header .navbar>div a{display:unset;}
    header .menu_rightblock{display: none;}
    header .navbar .menu_function a, header .navbar .menu_function_mobile a{margin: 5px;max-width: 60px;}
    .dropdown-menu .text_info{font-size:0.938em;padding:0 0 16px 0}
    .dropdown-menu .text_info a{color:#2f7d44;text-decoration:underline}
    .dropdown-menu .contact_info>div{font-size:1.063em;line-height:1.7;color:#2b4131;}
    .dropdown-menu .contact_info>div{padding:3px 7px}
    .dropdown-menu .contact_info>div span:nth-child(1){font-size: 0.875em;font-weight:500;}
    .dropdown-menu .contact_info>div span:nth-child(2){font-size: 0.875em;}
}
@media screen and (max-width: 575.98px){
    header .navbar-light .navbar-brand{width: 130px;}
    header .navbar-light .navbar-brand .logo_img_div{width: 140px;}
}
/*--------- contact fix btn start ---------*/
.fix_btn_div{position:fixed;bottom:70px;right:0;z-index: 98;}
.fix_btn_div .fix_button{width:90px;height:90px;display:block;padding: 20px 27px;border-radius:100%;font-size:1em;color:#2b4131;line-height:1.33;margin:10px 10px;}
.fix_btn_div .fix_button#back-top:before{content:"";background:url(../../assets/images/back-to-top.svg)center center no-repeat;width: 50px;height: 40px;position: absolute;left: 29px;bottom: 37px;}
div.fix_btn_div .fix_button:hover,div.fix_btn_div .fix_button:focus{opacity:1;border: 2px solid #002bff;}
.fix_btn_div .fix_button:active{background:none}
.fix_btn_div .fix_button:nth-child(1){box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);background-color: #ffffff;}
.fix_btn_div .fix_button:nth-child(2){background-color: #f3f5d9;}
.fix_btn_div .fix_button:nth-child(3){background-color: #2f7d44;color: #ffffff;border: 0;}
.fix_btn_div .fix_button:nth-child(4){border: 1px solid #8F9D10;color: #8F9D10;background-color: #ffffff;}
.contact_info_fix{position:fixed;bottom:110px;right:120px;background-color:#ffffff;width:480px;border-radius:5px;box-shadow:7px 2px 15px 1px rgba(0,0,0,0.1);padding:30px;color:#2b4131;display:none;z-index: 2;}
.contact_info_fix:before{content:"";width:0;height:0;border-top:10px solid transparent;border-left:20px solid white;border-bottom:10px solid transparent;position:fixed;right:100px;bottom:215px}
.contact_info_fix .text_info{font-size:1.063em;padding:0 0 16px 0}
.contact_info_fix .text_info a{color:#2f7d44;text-decoration:underline}
.contact_info_fix .contact_info>div{font-size:1.063em;line-height:1.7;color:#2b4131}
.contact_info_fix .contact_info>div{padding:3px 7px}
.contact_info_fix .contact_info>div span:nth-child(1){font-size:1.188em;font-weight:500}
.contact_info_fix .contact_info>div span:nth-child(2){font-size:1.063em}
@media (max-width:991px){
    .contact_info_fix{width: 310px;}
    .fix_btn_div .fix_button{right:10px;width: 70px;height: 70px;padding: 15px 19px;font-size: 1.000em;}
    .fix_btn_div .fix_button#back-top:before {left: 19px;bottom: 25px;}
    .fix_btn_div .fix_button:nth-child(1){display:none}
    .fix_btn_div .fix_button:nth-child(2){display:none}
    .fix_btn_div .fix_button:nth-child(3){display:none}
 }
@media screen and (max-width: 575.98px){
    .fix_btn_div .fix_button{right:10px;width: 70px;height: 70px;padding: 15px 19px;font-size: 1.000em;}
    .fix_btn_div .fix_button#back-top:before {left: 19px;bottom: 25px;}
    .contact_info_fix{width: 235px;padding: 40px 13px;bottom: 60px;right: 104px;}
    .contact_info_fix:before{right: 84px;bottom: 187px;}
    .contact_info_fix .text_info{font-size: 0.938em;}
    .contact_info_fix .contact_info>div span:nth-child(1){font-size: 1.000em;}
    .contact_info_fix .contact_info>div span:nth-child(2){font-size: 0.875em;}
    .fix_btn_div .fix_button:nth-child(1){display:none}
    .fix_btn_div .fix_button:nth-child(2){display:none}
    .fix_btn_div .fix_button:nth-child(3){display:none}
}
/*--------- contact fix btn end ---------*/
/* ========================================================================================== */
/* ==                                                                                      == */
/* ==                                   Header CSS  End                                    == */
/* ==                                                                                      == */
/* ========================================================================================== */


/* ========================================================================================== */
/* ==                                                                                      == */
/* ==                                   Index CSS Start                                    == */
/* ==                                                                                      == */
/* ========================================================================================== */

/*--------------------------------------img owlcarousel style start --------------------------------------*/
.advance_owlcarousel_img .owl-carousel.owl-drag .owl-item:before{content:"";background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));width: 100%;height: 770px;position: absolute;bottom: 0;}
/* set btn style*/
.advance_owlcarousel_img .owl-carousel .owl-item img{height:770px;object-fit: cover;}
.advance_owlcarousel_img .owl-carousel .owl-nav span {color: #ffffff !important;background-color: #ffffff6e;display: block;width: 50px;height: 50px;font-size: 1.875em;position: relative;border-radius: 30px;transition:0.5s;padding: 2px;}
.advance_owlcarousel_img .owl-carousel .owl-nav span:hover{background-color: #2f7d44;}
.advance_owlcarousel_img .owl-theme .owl-nav button:hover{background-color: #00000000;}
/* set dots style*/
.advance_owlcarousel_img .owl-theme .owl-dots .owl-dot.active span{background: #ffffff;}
.advance_owlcarousel_img .owl-theme .owl-dots .owl-dot span{background: #2b4131;}
/* set btn position*/
.advance_owlcarousel_img{position:relative;}
.advance_owlcarousel_img .owl-carousel .owl-nav button.owl-prev {position: absolute;bottom: 0;margin: 0px 0px 95px -60px;}
.advance_owlcarousel_img .owl-carousel .owl-nav button.owl-next {position: absolute;bottom: 0;margin: 0px 60px 95px 0px;}
.advance_owlcarousel_img .owl-theme .owl-dots, .owl-theme .owl-nav{margin: -90px 0 0 0;position: absolute;width: 100%;}
/* set textarea style*/
.advance_owlcarousel_img .slide-text {position: absolute;bottom: 0;left: 0;right: 0;padding: 20px 40px;height: 350px;display: flex;flex-wrap: wrap;justify-content: center;padding: 0px 20% 100px;align-content: flex-start;width: 100%;margin: 0 auto;text-align: center;}
.advance_owlcarousel_img .slide-text>div{display: flex;justify-content: center;align-items: baseline;height: 30px;margin-bottom: 20px;flex-wrap: wrap;}
.advance_owlcarousel_img .slide-text>div span:nth-child(1){font-size: 1.500em;font-weight: 500;padding-right: 15px;}
.advance_owlcarousel_img .slide-text>span{font-size: 2.375em;font-weight: 700;line-height: normal;width: 100%;}
@media (max-width:991px){
    .advance_owlcarousel_img .owl-carousel .owl-item img{height: 600px;}
    .advance_owlcarousel_img .owl-theme .owl-dots, .owl-theme .owl-nav{margin: -40px 0 0 0;}
    .advance_owlcarousel_img .slide-text{padding: 0px 14% 100px;height: 250px;}
    .advance_owlcarousel_img .owl-carousel .owl-nav button.owl-prev {
    margin: 0px 0px 25px -60px;
}
    .advance_owlcarousel_img .owl-carousel .owl-nav button.owl-next {
    margin: 0px 60px 25px 0px;
}
    .advance_owlcarousel_img .slide-text>div span:nth-child(1){font-size: 1.375em;}
    .advance_owlcarousel_img .slide-text>span{font-size: 1.625em;}
}
@media screen and (max-width: 575.98px){
    .advance_owlcarousel_img .owl-carousel .owl-item img{height: 450px;}
    .advance_owlcarousel_img .owl-theme .owl-dots, .owl-theme .owl-nav{margin: -40px 0 0 0;}
    .advance_owlcarousel_img .slide-text{padding: 0 20px;width: 100%;height: 260px;}
    .advance_owlcarousel_img .slide-text>div{margin: 10px;}
    .advance_owlcarousel_img .owl-carousel .owl-nav button.owl-prev {}
    .advance_owlcarousel_img .owl-carousel .owl-nav button.owl-next {}
    .advance_owlcarousel_img .slide-text>div span:nth-child(1){font-size:1.250em;}
    .advance_owlcarousel_img .slide-text>span{font-size: 1.375em;}
}
/*--------------------------------------img owlcarousel style end --------------------------------------*/

/*--------------------------------------participate style start --------------------------------------*/
.ac_participate{background:url(../../assets/images/ac_participate_bg.png)center center no-repeat;background-size: cover;padding: 100px 0 100px;height: 470px;background-image: linear-gradient(rgba(43, 65, 49, 0.8), rgba(43, 65, 49, 0.8)), url(../../assets/images/ac_participate_bg.png);position: relative;margin-bottom: 160px;z-index: 1;}
.ac_participate .tltle_block::before{content:"";}
.ac_participate .content_block{width: 100%;display: flex;flex-wrap: wrap;margin-bottom: -140px;}
.ac_participate .content_block>div{width: 100%;display: flex;padding: 10px 0 20px;}
.ac_participate .content_block>div:nth-child(1){align-items: flex-end;}
.ac_participate .content_block>div:nth-child(2){padding-left: 30px;}
.ac_participate .rellax_bird{background:url(../../assets/images/index_bird.png)center center no-repeat;width:400px;height:320px;position:absolute;right: 0;top: -80px;bottom: inherit;left: inherit;background-size:contain;}
.content_rellax_bird{position: relative;width: 100%;min-height: 1px;}
@media (max-width:1200px){
    .ac_participate .rellax_bird{width: 240px;height:320px;top: -80px;right: 30px;}
}
@media screen and (min-width: 1201px) {
    .ac_participate .rellax_bird{width: 290px;height:230px;top: -100px;right: 120px;}
}
@media screen and (min-width: 1400px) {
    .ac_participate .rellax_bird{width: 340px;height: 270px;top: -100px;right: 30px;}
}
@media screen and (min-width: 1600px) {
    .ac_participate .rellax_bird{width: 350px;height: 280px;top: -120px;right: 30px;}
}
@media screen and (min-width: 1800px) {
    .ac_participate .rellax_bird{width:400px;height:320px;top: -200px;right: 30px;}
}
@media (max-width:991px){
    .ac_participate{padding:30px 0;height:auto}
    .ac_participate .content_block{margin:0}
    .ac_participate .content_block>div:nth-child(1){flex-wrap:wrap}
    .ac_participate .content_block>div:nth-child(2){padding:0;flex-wrap:wrap}
    .ac_participate .content_block>div .ac_card-participate{padding:50px 0 0;height:160px;width:calc(33% - 5px);margin:0 3px 10px}
    .ac_participate .content_block .map-info{justify-content:center}
    .ac_participate .content_block .ac_card-participate.white .map-info>div{justify-content:center;flex-wrap:wrap}
    .ac_participate .content_block>div .ac_card-participate.yellow{width:calc(50% - 6px);padding:30px 0 0;height:150px;max-width: unset;}
    .ac_participate .content_block .ac_card-participate.white .map-info span.number{font-size:2.188em}
    .ac_participate .content_block .ac_card-participate.yellow .map-info span.number{font-size:1.875em;width:100%;text-align:center}
    .ac_participate .content_block .ac_card-participate.yellow .map-info>div{justify-content:center;flex-wrap:wrap}
    .ac_participate .rellax_bird{display:none}
    .ac_participate .rellax_bird_mobile{background:url(../../assets/images/index_bird.png)center center no-repeat;height: 210px;position:absolute;background-size:contain;z-index: -1;width: 250px;right: -30px;top: -190px;}
}
@media (max-width:575.98px){
    .ac_participate .content_block>div .ac_card-participate{padding:72px 0 0}
    .ac_participate .rellax_bird_mobile{width: 200px;right:0;top: -240px;}
}
/*--------------------------------------participate style end --------------------------------------*/

/*-------------------------------------- schoolmap style start --------------------------------------*/
.ac_schoolmap{display:flex;flex-wrap:wrap;position: relative;}
.ac_schoolmap .rellax_butterfly{background:url(../../assets/images/index_butterfly.png)center center no-repeat;width:200px;height:250px;position:absolute;left: -50px;top: -420px;background-size:contain;}
.ac_schoolmap .text_div{width: 45%;background-color:#f9faeb;padding:140px 100px 80px;position: relative;margin-bottom: 150px;z-index: 1;}
.ac_schoolmap .text_div p.tip{margin:0 0 40px 0}
.ac_schoolmap .map_div{width: 45%;margin: 0 auto;}
.ac_schoolmap .map_div svg{display:block;margin:0 auto;background-color: #ffffff;width: 90%;}
.ac_schoolmap .map_div svg .tw_county{fill:#f2f2f2;transition:fill 0.2s ease}
.ac_schoolmap .map_div svg .tw_county:hover,
.ac_schoolmap .map_div svg .tw_county:focus{fill:#5fe4bf;stroke:#2f7d44;stroke-width:3px;outline: 0;}
.ac_schoolmap .map_div svg .tw_county.on,
.ac_schoolmap .map_div svg .tw_county.on:hover,
.ac_schoolmap .map_div svg .tw_county.on:focus{fill: #a9ffe7;stroke:#2f7d44;stroke-width:3px;}
.ac_schoolmap .button-general.outline:before{top: 9px;}
.content_rellax_butterfly{position: relative;width: 100%;min-height: 1px;z-index: -1;}

@media (max-width:1200px){
    .ac_schoolmap .rellax_butterfly{width:170px;height:250px;top: -390px;}
}
@media screen and (min-width: 1201px) {
    .ac_schoolmap .rellax_butterfly{width:180px;height:250px;top: -450px;}
}
@media screen and (min-width: 1400px) {
    .ac_schoolmap .rellax_butterfly{width:180px;height:250px;top: -420px;}
}
@media screen and (min-width: 1600px) {
    .ac_schoolmap .rellax_butterfly{width:200px;height:250px;}
}
@media screen and (min-width: 1800px) {
    .ac_schoolmap .rellax_butterfly{width:200px;height:250px;}
}

@media (max-width:991px){
    .ac_schoolmap .text_div{width:100%;padding:70px 31px 20px;margin: 0;}
    .ac_schoolmap .map_div{width:100%;padding: 30px 0;}
    .ac_schoolmap .rellax_butterfly{display:none;}
    .ac_schoolmap .rellax_butterfly_mobile{background:url(../../assets/images/index_butterfly.png)center center no-repeat;width:170px;height:250px;position:absolute;background-size:contain;top:-220px;right:110px}
}
@media (max-width:575.98px){
    .ac_schoolmap .rellax_butterfly_mobile{width: 150px;right: 0;top: -200px;}
}

/*-------------------------------------- schoolmap end start --------------------------------------*/



/*-------------------------------------- video owlcarousel style start --------------------------------------*/
.ac_index_vedio h2{text-align: center;margin: 0 0 20px 0;}
.ac_index_vedio .slide-text>p:nth-child(2){font-size: 1.250em;}
/* set btn style*/
.advance_owlcarousel_video .owl-carousel .owl-item a:focus,.advance_owlcarousel_video .owl-carousel .owl-item a:hover{border:2px solid #002bff;outline:0}
.advance_owlcarousel_video .owl-carousel .owl-item.owl-item .item a{cursor: pointer;position: relative;z-index: 1;width: 100%;display: flex;}
.advance_owlcarousel_video .owl-carousel .owl-item.owl-item .item a:before{content:"";background:url(../../assets/images/icon-video-play.svg)center center no-repeat;width: 59px;background-color: #00000080;height: 59px;position: absolute;left: 46%;top: 210px;border-radius: 50%;}
/* .advance_owlcarousel_video .owl-carousel .owl-item.active{opacity: 0.7;} */
/* .advance_owlcarousel_video .owl-carousel .owl-item.active.center{opacity: 1;} */
.advance_owlcarousel_video .owl-carousel .owl-item img{height:455px;object-fit: cover;}
.advance_owlcarousel_video .owl-carousel .owl-nav span {border-radius: 0;color: #ffffff !important;display: block;width: 65px;height: 100px;font-size: 2.500em;top: 0;position: relative;transition:0.5s;background-color: rgba(43, 65, 49, 0.6);padding: 16px 15px 30px;}
.advance_owlcarousel_video .owl-carousel .owl-nav span:hover{background-color: #2f7d44;}
.advance_owlcarousel_video .owl-theme .owl-nav button:hover{background-color: #00000000;}
/* set btn position*/
.advance_owlcarousel_video{position:relative;}
.advance_owlcarousel_video .owl-carousel .owl-nav button:focus{border:2px solid #002bff;outline:0}
.advance_owlcarousel_video .owl-carousel .owl-nav button.owl-prev {left: calc(33% - 67px);position: absolute;margin: -360px 0px 0px 0px;}
.advance_owlcarousel_video .owl-carousel .owl-nav button.owl-next {position: absolute;right: calc(33% - 67px);margin: -360px 0px 0px 0px;}
.advance_owlcarousel_video .owl-theme .owl-dots, .owl-theme .owl-nav{margin: 0;position: absolute;width: 100%;}
.advance_owlcarousel_video .owl-carousel.owl-drag .owl-item:before{content:"";background-image: none;width: 100%;height: 455px;position: absolute;bottom: 0;}
/* set textarea style*/
.advance_owlcarousel_video .owl-carousel .owl-item .slide-text{display: none;}
.advance_owlcarousel_video .owl-carousel .owl-item .slide-text{position: absolute;bottom: 0;left: 0;display: flex;flex-wrap: wrap;justify-content: center;padding: 10px 30px;align-content: center;width: 100%;margin: 0 auto;text-align: center;background-color: #2b4131;height: 90px;}
.advance_owlcarousel_video .owl-carousel .owl-item .slide-text>p:nth-child(2){padding: 1px 0 0 0;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:1;-webkit-box-orient:vertical;margin: 0;}
.advance_owlcarousel_video .owl-carousel .owl-item .slide-text p{margin:0;padding: 0 10px 3px 0;}
@media (max-width:1200px){
    .advance_owlcarousel_video .owl-carousel .owl-item img{height:600px}
    .advance_owlcarousel_video .owl-theme .owl-dots,.owl-theme .owl-nav{margin:-40px 0 0 0}
    .advance_owlcarousel_video .owl-carousel .owl-nav button.owl-prev{margin:-400px 0 0 0;left:20px}
    .advance_owlcarousel_video .owl-carousel .owl-nav button.owl-next{margin:-400px 0 0 0;right:20px}
    .advance_owlcarousel_video .owl-carousel .owl-item.owl-item.active.center .item a:before{content:"";top:260px}
}
@media (max-width:991px){
    .advance_owlcarousel_video .owl-carousel .owl-item img{height:600px}
    .advance_owlcarousel_video .owl-theme .owl-dots,.owl-theme .owl-nav{margin:-40px 0 0 0}
    .advance_owlcarousel_video .owl-carousel .owl-nav button.owl-prev{margin:-370px 0 0 0}
    .advance_owlcarousel_video .owl-carousel .owl-nav button.owl-next{margin:-370px 0 0 0}
    .advance_owlcarousel_video .owl-carousel .owl-item.owl-item.active.center .item a:before{content:"";top:280px}
}
@media screen and (max-width:575.98px){
    .advance_owlcarousel_video .owl-carousel .owl-item img{height:450px}
    .advance_owlcarousel_video .owl-theme .owl-dots,.owl-theme .owl-nav{margin:-40px 0 0 0}
    .advance_owlcarousel_video .owl-carousel .owl-nav button.owl-prev{margin:-330px 0 0 0}
    .advance_owlcarousel_video .owl-carousel .owl-nav button.owl-next{margin:-330px 0 0 0}
    .advance_owlcarousel_video .owl-carousel .owl-item.owl-item.active.center .item a:before{content:"";top:190px;left: 42%;}
}
/* set video modal style*/
.video_modal .modal-header button,
.video_modal .modal-header button.close:not(:disabled):not(.disabled):hover,button.close:not(:disabled):not(.disabled):focus:hover{opacity:1}
.video_modal .modal-header button span{color:#ffffff;font-weight:300;font-size:1.250em;letter-spacing:2px}
.video_modal .modal-header button span:hover{color:#ffffff}
.video_modal .modal-content{background-color:transparent;border:0}
.video_modal .modal-header{border:0}
.video-container{position:relative;padding-bottom:56.25%;padding-top:30px;height:0;overflow:hidden}
.video-container iframe,.video-container object,.video-container embed{position:absolute;top:0;left:0;width:100%;height:100%}
    
/*-------------------------------------- video owlcarousel style end --------------------------------------*/


.block-cov19 {background:url(../../assets/images/banner_certifaction_intro.jpg)center center no-repeat;width:100%;height:260px;background-size:cover}
.block-cov19 a { line-height: 260px; height: 260px; margin: 0 auto; display: block; text-align: center; color: white}
.block-cov19 a:hover { color: #dfdfdf;}

/* ========================================================================================== */
/* ==                                                                                      == */
/* ==                                   Index CSS  End                                     == */
/* ==                                                                                      == */
/* ========================================================================================== */



@media (max-width:1200px){}
@media (max-width:991px){
    .page_news .ac_article_block .content_div{width: calc(63% - 40px);}
    .page_news .ac_article_block .ac_file_block{width: 37%;}
    .page_news .ac_article_block .header_div .release_info{width: 100%;}
}
@media (max-width: 767.98px) {
    .page_news .ac_article_block .content_div{width: 100%;margin: 0;}
    .page_news .ac_article_block .ac_file_block{width: 100%;}
}
@media screen and (max-width:575.98px){}
/* ========================================================================================== */
/* ==                                                                                      == */
/* ==                                   Page News CSS  End                                     == */
/* ==                                                                                      == */
/* ========================================================================================== */




/* ========================================================================================== */
/* ==                                                                                      == */
/* ==                          Page   about_intro / about_method                           == */
/* ==                                                                                      == */
/* ========================================================================================== */
.page_about.about_intro .banner_block{background:url(../../assets/images/banner_about_intro.jpg)center center no-repeat;width:100%;/* height: 650px; */background-size:cover;margin-bottom: 100px;padding: 0px 0 80px 0;}
.page_about.about_method .banner_block{background:url(../../assets/images/banner_about_method.jpeg)center center no-repeat;width:100%;height:260px;background-size:cover}
.page_about.about_result .banner_block{background:url(../../assets/images/banner_about_result.jpg)center center no-repeat;width:100%;height:260px;background-size:cover}

.page_about .banner_block .ac_breadcrumb_area{background-color:#fffffe00;padding: 40px 0 30px;}
.page_about h2{width:100%;text-align:center;margin: 20px 0 0 0;}
.page_about h3{width: calc(100% - 110px);text-align: left;}

/* page about_intro start */
.page_about.about_intro .banner_block .banner_content{box-shadow:0 2px 15px 0 rgba(0,0,0,0.1);background-color:rgba(255,255,255,0.9);padding:35px 45px;display:flex;margin-top:30px}
.page_about.about_intro .banner_block .banner_content .banner_text{width:70%}
.page_about.about_intro .banner_block .banner_content .banner_icon{background:url(../../assets/images/about_intro_header_icon.png)center center no-repeat;width:272px;height:auto;background-size:contain;margin-left:40px}
.page_about.about_intro .ac_block_01{width:100%;display:flex;position:relative}
.page_about.about_intro .ac_block_01:before{content:"";width:275px;height:350px;position:absolute;top:0;right:30px;background:url(../../assets/images/about_intro_bird.png)center center no-repeat;background-size:contain;z-index:0;}
.page_about.about_intro .ac_block_01 .img_div{width:60%;background:url(../../assets/images/intro_img_01.jpg)center center no-repeat;height:460px;background-size:cover}
.page_about.about_intro .ac_block_01 .text_div{width:50%;box-shadow:0 2px 15px 0 rgba(0,0,0,0.1);background-color:rgba(255,255,255,0.9);margin:0 0 -80px -150px;align-self:flex-end;padding:50px;z-index:1}
.page_about.about_intro .ac_block_02{display:flex;margin:50px 0;padding:4em 60px}
.page_about.about_intro .ac_block_02 .text_div{width:45%;padding:0 50px 50px 0}
.page_about.about_intro .ac_block_02 .icon_div{width:55%;display:flex;flex-wrap:wrap;margin-top:30px}
.page_about.about_intro .ac_block_02 .icon_div .element_icon{width:25%;display:flex;flex-wrap:wrap;justify-content:center;margin:10px 0 10px}
.page_about.about_intro .ac_block_02 .icon_div .element_icon .icon_img{width:86px;height:86px;object-fit:cover;background-color:#ffffff;border-radius:100%}
.page_about.about_intro .ac_block_02 .icon_div .element_icon p{width:100%;text-align:center;padding:20px 0}
.page_about.about_intro .ac_block_03{width:100%;display:flex;justify-content:flex-end;position:relative}
.page_about.about_intro .ac_block_03 .img_div{background:url(../../assets/images/intro_img_02.png)center center no-repeat;height:830px;background-size:cover;margin-left:40px;position:absolute;left:-400px;width:1000px;bottom:-200px;z-index:0;filter:blur(3px)}
.page_about.about_intro .ac_block_03 .text_div{box-shadow:0 2px 15px 0 rgba(0,0,0,0.1);background-color:rgba(255,255,255,0.9);width:70%;position:relative;z-index:1;padding:50px;display:flex;flex-wrap:wrap}
.page_about.about_intro .ac_block_03 .text_div .focus_text{font-size:1.500em;font-weight:500;width: 66%;}
.page_about.about_intro .ac_block_03 .text_div a{margin-left: calc(34% - 123px);}
@media (max-width:1200px){}
@media (max-width:991px){
    .page_about.about_intro .banner_block .banner_content{flex-wrap:wrap;width:100%;flex-direction:column-reverse}
    .page_about.about_intro .banner_block .banner_content .banner_text{width:100%}
    .page_about.about_intro .banner_block .banner_content .banner_icon{height:200px;margin:0 auto 30px;width: 250px;}
    .page_about.about_intro .ac_block_01{flex-wrap:wrap;padding:0}
    .page_about.about_intro .ac_block_01:before{width:150px;top:-15px;z-index:2}
    .page_about.about_intro .ac_block_01 .img_div{width:100%;height:200px}
    .page_about.about_intro .ac_block_01 .text_div{width:100%;margin:0 auto}
    .page_about.about_intro .ac_block_02{flex-wrap:wrap}
    .page_about.about_intro .ac_block_02 .text_div{width:100%;padding:0}
    .page_about.about_intro .ac_block_02 .icon_div{width:100%}
    .page_about.about_intro .ac_block_02 .icon_div .element_icon p{padding:5px 0}
    .page_about.about_intro .ac_block_03 .text_div{width:100%}
    .page_about.about_intro .ac_block_03 .text_div .focus_text{width:100%;font-size:1.313em}
    .page_about.about_intro .ac_block_03 .text_div a{margin-left:calc(100% - 134px)}
}
@media (max-width: 767.98px) {
    .page_about.about_intro .ac_block_03 .text_div{margin-bottom: 40px;}
}
@media screen and (max-width:575.98px){
    .page_about.about_intro .ac_block_02{padding: 30px 20px;}
    .page_about.about_intro .ac_block_02 .icon_div{margin: 0;}
    .page_about.about_intro .ac_block_02 .icon_div .element_icon .icon_img{width: 60px;height: 60px;}
    .page_about.about_intro .ac_block_03 .text_div .focus_text{font-size: 1.188em;}
    .page_about.about_intro .banner_block .banner_content{padding: 35px 20px;}
    .page_about.about_intro .ac_block_03 .img_div{width: 710px;bottom: -60px;left: -400px;}
}
/* page about_intro end */

/* page about_method start */
.page_about.about_method .summary_block{width:65%;margin:0 auto}
.page_about.about_method .summary_block p.subtitle{font-size:1.188em;font-weight:500;margin:90px 0;position: relative;}
.page_about.about_method .summary_block p.subtitle:before{content:"";top:-33px;left:-45px;background:url(../../assets/images/quote-icon.svg)center center no-repeat;position:absolute;width:40px;height:34px;background-size:contain}
.page_about.about_method .summary_block h3{text-align:center;width:100%;margin: 35px 0px 20px;}
.page_about.about_method .steps7_block{display:flex;width:100%;flex-wrap:wrap;margin: 50px 0 120px;}
.page_about.about_method .steps7_block .element_card{width:calc(50% - 30px);margin:18px 15px;cursor: pointer;}
.page_about.about_method .steps7_block .element_card .card_bgimg{height: 360px;display: flex;flex-wrap: wrap;position: relative;}
.page_about.about_method .steps7_block .element_card:nth-child(1) .card_bgimg{background:url(../../assets/images/card_bg01.jpeg)center center no-repeat;background-size:cover;}
.page_about.about_method .steps7_block .element_card:nth-child(2) .card_bgimg{background:url(../../assets/images/card_bg02.jpeg)center center no-repeat;background-size:cover;}
.page_about.about_method .steps7_block .element_card:nth-child(3) .card_bgimg{background:url(../../assets/images/card_bg03.jpg)center center no-repeat;background-size:cover;}
.page_about.about_method .steps7_block .element_card:nth-child(4) .card_bgimg{background:url(../../assets/images/card_bg04.jpg)center center no-repeat;background-size:cover;}
.page_about.about_method .steps7_block .element_card:nth-child(5) .card_bgimg{background:url(../../assets/images/card_bg05.jpg)center center no-repeat;background-size:cover;}
.page_about.about_method .steps7_block .element_card:nth-child(6) .card_bgimg{background:url(../../assets/images/card_bg06.jpg)center center no-repeat;background-size:cover;}
.page_about.about_method .steps7_block .element_card:nth-child(7) .card_bgimg{background:url(../../assets/images/card_bg07.jpeg)center center no-repeat;background-size:cover;}
.page_about.about_method .steps7_block .element_card .card_bgimg:before{content:"";width:100%;height:50%;background-image:linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,0.8));position:absolute;bottom:0}
.page_about.about_method .steps7_block .element_card .number{font-family:'Roboto Condensed';font-size:10.625em;font-weight:bold;text-align:right;width:100%;z-index:1;line-height:0.8}
.page_about.about_method .steps7_block .element_card .text{width:100%;z-index:1;display:flex;position:relative;padding: 15px 20px;align-items:center;align-self:flex-end;}
.page_about.about_method .steps7_block .element_card .text h4{width:170px;z-index:1;height:50px;display:flex;align-items:center}
.page_about.about_method .steps7_block .element_card .text p{width:calc(100% - 170px);display:flex;align-items:center;margin: 0;}

.page_about.about_method .environment12_block{width:100%;display:flex;flex-wrap:wrap}
.page_about.about_method .environment12_block .element_card{width:calc(33.3% - 30px);margin:15px;position:relative;box-shadow:0 2px 15px 0 rgba(0,0,0,0.1);background-color:#ffffff}
.page_about.about_method .environment12_block .element_card .card_img img{height:220px;object-fit:cover}
.page_about.about_method .environment12_block .element_card .card_icon{width:90px;margin:-40px 0 0 15px;background-color:#ffffff;border-radius:50%;position:relative}
.page_about.about_method .environment12_block .element_card .card_text{padding:10px 25px 40px}
.page_about.about_method .environment12_block .element_card .card_text h4{margin-bottom:15px}
.page_about.about_method .environment12_block .element_card .card_text p{margin:0}

@media (max-width:1200px){}
@media (max-width:991px){
    .page_about.about_method .steps7_block .element_card .number{font-size: 8.750em;}
    .page_about.about_method .steps7_block .element_card .text{flex-wrap: wrap;}
    .page_about.about_method .steps7_block .element_card .text h4{width: 100%;}
    .page_about.about_method .steps7_block .element_card .text p{width: 100%;}
    .page_about.about_method .environment12_block .element_card{width: calc(50% - 30px);}
}
@media (max-width: 767.98px) {
    .page_about.about_method .summary_block{width: 100%;padding: 0 30px;}
    .page_about.about_method .environment12_block .element_card{width: 100%;}
}
@media screen and (max-width:575.98px){
    .page_about.about_method .steps7_block .element_card .card_bgimg{height: unset;}
    .page_about.about_method .steps7_block .element_card{width: 100%;}
    .page_about.about_method .summary_block p.subtitle:before{left: -25px;top: -40px;width: 35px;}
}
/* page about_method end */
/* ========================================================================================== */
/* ==                                                                                      == */
/* ==                          Page   about_intro / about_method  CSS End                  == */
/* ==                                                                                      == */
/* ========================================================================================== */



/* ========================================================================================== */
/* ==                                                                                      == */
/* ==                             Page   about_schooldetail  CSS Start                          == */
/* ==                                                                                      == */
/* ========================================================================================== */
.about_schooldetail .ac_schooldetail{display:flex;width:100%;flex-wrap:wrap;flex-direction:row}
.about_schooldetail .ac_schooldetail .school_info{display:flex;width: calc(50% - 10px);background-color: white;flex-wrap:wrap;padding: 40px;box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);margin-right: 10px;}
.about_schooldetail .ac_schooldetail .school_info .school_attr{background-color: #2b4131;color: #ffffff;padding: 7px 10px;letter-spacing: 2px;height: 35px;font-size: 1em;font-weight: 500;margin-bottom: 10px;}
.about_schooldetail .ac_schooldetail .school_info .school_logo{margin:0 auto;width:100%;display:flex}
.about_schooldetail .ac_schooldetail .school_info .school_logo img{width:150px;height:150px;margin:0 auto}
.about_schooldetail .ac_schooldetail .school_info .school_name_ch{padding:0 30px;width: 100%;}
.about_schooldetail .ac_schooldetail .school_info .school_name_en{font-size:1.250em;font-weight:bold;color:#2b4131;padding:10px 30px;border-bottom:1px solid #b7b7b7;width: 100%;text-align: center;}
.about_schooldetail .ac_schooldetail .school_info .school_text{padding-top:30px;overflow:scroll;height:50vh;width: 100%;}

.about_schooldetail .ac_schooldetail .right_structure{width: calc(50% - 10px);margin-left: 10px;}
.about_schooldetail .ac_schooldetail .school_medal{width:100%;box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);min-height: calc(50vh - 10px);background-color: #ffffff;}
.about_schooldetail .ac_schooldetail .medal_header{font-size: 1.188em;font-weight: 500;height: 45px;border-bottom: #b7b7b7 1px solid;padding: 10px 60px;position: relative;}
.about_schooldetail .school_seventabs .medal_header:before{content:"";width: 50px;height: 45px;position:absolute;top: -1px;left: 0;background:url(../../assets/images/icon-attachment-book.svg)center center no-repeat;background-size: cover;}

.about_schooldetail .ac_schooldetail>.right_structure>div:nth-child(1) .medal_header:before{content:"";width: 50px;height: 45px;position:absolute;top: -1px;left: 0;background:url(../../assets/images/icon-attachment-medal.svg)center center no-repeat;background-size: cover;}
.about_schooldetail .ac_schooldetail>.right_structure>div:nth-child(2) .medal_header:before{content:"";width: 50px;height: 45px;position:absolute;top: -1px;left: 0;background:url(../../assets/images/icon-attachment-flag.svg)center center no-repeat;background-size: cover;}

.about_schooldetail .ac_schooldetail .school_medal .medal_content{width:100%;display:flex;flex-wrap:wrap;justify-content:center;}
.about_schooldetail .ac_schooldetail .school_medal .medal_content .medal_element{width: 24%;display:flex;flex-wrap:wrap;justify-content:center;margin-top: 15px;padding:5px;}
.about_schooldetail .ac_schooldetail .school_medal .medal_content .medal_element .img{width:95px;height:95px;background-size: 70px 70px !important;background-color:white;border-radius:50%;box-shadow:0 2px 15px 0 rgba(0,0,0,0.1);margin-bottom:5px}
.about_schooldetail .ac_schooldetail .school_medal .medal_content .medal_element .name{width:100%;text-align:center;font-size:1.188em;font-weight:bold}
.about_schooldetail .ac_schooldetail .school_medal .medal_content .medal_element .date{width:100%;text-align:center;color:#777777}
.about_schooldetail .ac_schooldetail .school_medal .medal_content .medal_element.get_green_medal .img{background:url(../../assets/images/medal-green.png)center center no-repeat;}
.about_schooldetail .ac_schooldetail .school_medal .medal_content .medal_element.get_silver_medal .img{background:url(../../assets/images/medal-silver.png)center center no-repeat;}
.about_schooldetail .ac_schooldetail .school_medal .medal_content .medal_element.get_copper_medal .img{background:url(../../assets/images/medal-copper.png)center center no-repeat;}
.about_schooldetail .ac_schooldetail .school_medal .medal_content .medal_element.noget_medal .img{background:url(../../assets/images/medal-none.svg)center center no-repeat;box-shadow: none;}
.about_schooldetail .ac_schooldetail .school_medal .medal_content .medal_element.noget_medal .name{color: #b7b7b7;}
.about_schooldetail .ac_schooldetail .school_medal .medal_content .medal_element.noget_medal .date{color: #b7b7b7;}

.about_schooldetail .ac_schooldetail .school_choose{width:100%;background-color: #ffffff;box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);margin-top: 20px;}
.about_schooldetail .ac_schooldetail .school_choose .medal_content{width:100%;display:flex;flex-wrap:wrap;justify-content:center;background-color: rgb(195 209 57 / 0.15);padding: 9px;}
.about_schooldetail .ac_schooldetail .school_choose .medal_content .medal_element{width: 24%;display:flex;flex-wrap:wrap;justify-content:center;margin-top: 18px;padding:5px;}
.about_schooldetail .ac_schooldetail .school_choose .medal_content .medal_element.choose_options .img{width: 65px;height: 65px;background-color: #ffffff;border-radius:50%;margin-bottom:5px;background-size: cover;}
.about_schooldetail .ac_schooldetail .school_choose .medal_content .medal_element .name{width:100%;text-align:center;font-size: 1.063em;font-weight: 400;padding: 0 13px;}
.about_schooldetail .ac_schooldetail .school_choose .medal_content .medal_element .date{width:100%;text-align:center;color:#777777}
.about_schooldetail .ac_schooldetail .school_choose .medal_content .medal_element.choose_options:nth-child(1) .img{background-image: url(../../assets/images/12ways-icon_traffic.png);}
.about_schooldetail .ac_schooldetail .school_choose .medal_content .medal_element.choose_options:nth-child(2) .img{background-image:url(../../assets/images/12ways-icon_energy.png);}
.about_schooldetail .ac_schooldetail .school_choose .medal_content .medal_element.choose_options:nth-child(3) .img{background-image:url(../../assets/images/12ways-icon_water.png);}
.about_schooldetail .ac_schooldetail .school_choose .medal_content .medal_element.choose_options:nth-child(4) .img{background-image:url(../../assets/images/12ways-icon_weather.png);}
.about_schooldetail .ac_schooldetail .school_choose .medal_content .medal_element.choose_options:nth-child(5) .img{background-image:url(../../assets/images/12ways-icon_habitat.png);}
.about_schooldetail .ac_schooldetail .school_choose .medal_content .medal_element.choose_options:nth-child(6) .img{background-image:url(../../assets/images/12ways-icon_waste.png);}
.about_schooldetail .ac_schooldetail .school_choose .medal_content .medal_element.choose_options:nth-child(7) .img{background-image:url(../../assets/images/12ways-icon_healthy.png);}
.about_schooldetail .ac_schooldetail .school_choose .medal_content .medal_element.choose_options:nth-child(8) .img{background-image:url(../../assets/images/12ways-icon_school.png);}
.about_schooldetail .ac_schooldetail .school_choose .medal_content .medal_element.choose_options:nth-child(9) .img{background-image:url(../../assets/images/12ways-icon_bio.png);}
.about_schooldetail .ac_schooldetail .school_choose .medal_content .medal_element.choose_options:nth-child(10) .img{background-image:url(../../assets/images/12ways-icon_food.png);}
.about_schooldetail .ac_schooldetail .school_choose .medal_content .medal_element.choose_options:nth-child(11) .img{background-image:url(../../assets/images/12ways-icon_forest.png);}
.about_schooldetail .ac_schooldetail .school_choose .medal_content .medal_element.choose_options:nth-child(12) .img{background-image:url(../../assets/images/12ways-icon_sea.png);}
.about_schooldetail .ac_schooldetail .school_choose .medal_content .medal_element.no_choose .img{background-color: transparent;opacity: 0.3;}
.about_schooldetail .ac_schooldetail .school_choose .medal_content .medal_element.no_choose .name{color: #b7b7b7;}
.about_schooldetail .ac_schooldetail .school_choose .medal_content .medal_element.no_choose .date{color: #b7b7b7;}

.about_schooldetail .ac_schooldetail .school_seventabs{width:100%;margin: 30px 0;padding: 0 0 65px;box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);background-color: #fff;}
.about_schooldetail .ac_schooldetail .school_seventabs .medal_content{padding: 40px;}
.about_schooldetail .ac_schooldetail .school_seventabs .medal_content .tabs-area{display:flex;flex-wrap: wrap;}
.about_schooldetail .ac_schooldetail .school_seventabs .medal_content .tabs-area ul{width: calc(30% - 80px);align-content: flex-start;border: 0;}
.about_schooldetail .ac_schooldetail .school_seventabs .medal_content .tabs-area ul li{width: 100%;position: relative;}
.about_schooldetail .ac_schooldetail .school_seventabs .medal_content .tabs-area ul li a{border-radius: 5px;border: solid 1px #e7e7e7;background-color: #f7f7f7;height: 60px;color: #777777;font-size: 1.063em;padding: 17px 0 20px 60px;margin: 2px 0;}
.about_schooldetail .ac_schooldetail .school_seventabs .medal_content .tabs-area ul li a:before{width: 35px;height: 35px;position: absolute;left: 16px;top: 14px;background-size: contain;transition:0.5s;opacity: 0.3;}
.about_schooldetail .ac_schooldetail .school_seventabs .medal_content .tabs-area ul li:nth-child(1) a:before{content:"";background-image: url(../../assets/images/icon-7-steps-group.svg);}
.about_schooldetail .ac_schooldetail .school_seventabs .medal_content .tabs-area ul li:nth-child(2) a:before{content:"";background-image: url(../../assets/images/icon-7-steps-check.svg);}
.about_schooldetail .ac_schooldetail .school_seventabs .medal_content .tabs-area ul li:nth-child(3) a:before{content:"";background-image: url(../../assets/images/icon-7-steps-bulb.svg);}
.about_schooldetail .ac_schooldetail .school_seventabs .medal_content .tabs-area ul li:nth-child(4) a:before{content:"";background-image: url(../../assets/images/icon-7-steps-ecg.svg);}
.about_schooldetail .ac_schooldetail .school_seventabs .medal_content .tabs-area ul li:nth-child(5) a:before{content:"";background-image: url(../../assets/images/icon-7-steps-education.svg);}
.about_schooldetail .ac_schooldetail .school_seventabs .medal_content .tabs-area ul li:nth-child(6) a:before{content:"";background-image: url(../../assets/images/icon-7-steps-house.svg);}
.about_schooldetail .ac_schooldetail .school_seventabs .medal_content .tabs-area ul li:nth-child(7) a:before{content:"";background-image: url(../../assets/images/icon-7-steps-hand.svg);}
.about_schooldetail .ac_schooldetail .school_seventabs .medal_content .tabs-area ul li a.active:before {opacity: 1;}
.about_schooldetail .ac_schooldetail .school_seventabs .medal_content .tabs-area ul li a.active{box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);background-color: #ffffff;color: #2b4131;}
.about_schooldetail .ac_schooldetail .school_seventabs .medal_content .tab-content{width: 70%;margin-left: 80px;}
.about_schooldetail .ac_schooldetail .school_seventabs .medal_content .tab-content .content_detail{height: 70vh;overflow: scroll;}
.about_schooldetail .ac_schooldetail .school_seventabs .medal_content .tab-content .content_detail .content_detail-wrapper{margin: 0 0 60px;background-color: rgb(247 247 247 / 50%);padding: 27px;border-radius: 5px;}
.about_schooldetail .ac_schooldetail .school_seventabs .medal_content .tab-content .content_detail .content_detail-wrapper>div{margin: 0 0 0 20px;}
.about_schooldetail .ac_schooldetail .school_seventabs .medal_content .tab-content .content_detail .content_detail-wrapper>div>div{padding: 0px 0px 50px 0px;}
.about_schooldetail .ac_schooldetail .school_seventabs .medal_content .tab-content .content_detail .content_detail-wrapper h2{font-size: 1.6em;color: #777777;font-weight: 500;}
.about_schooldetail .ac_schooldetail .school_seventabs .medal_content .tab-content .content_detail .content_detail-wrapper h3{font-size: 1.25em;width: 100%;}
.about_schooldetail .ac_schooldetail .school_seventabs .medal_content .tab-content .content_detail .content_detail-wrapper h4{font-size: 1.1em;margin: 20px 0 5px 0;font-weight: 400;background-color: rgb(42 65 49 / 15%);padding: 5px 10px;border-top: solid 3px rgb(42 65 49 / 15%);border-radius: 2px;}
.about_schooldetail .ac_schooldetail .school_seventabs .medal_content .tab-content .content_detail .content_detail-wrapper .card_body table tr:nth-child(even){background-color: #ffffff;}
.about_schooldetail .ac_schooldetail .school_seventabs .medal_content .tab-content .content_detail .content_detail-wrapper .card_body table tr:nth-child(odd){background-color: #e8e8e8;}


@media (min-width:991px){
    .responsive-tabs .dropdown-arrow{display:none}
}
@media (max-width:991px){
    .responsive-tabs{position:relative;border:1px solid #ccc}
    .responsive-tabs li{width:100%;margin:0 !important}
    .responsive-tabs li > a{display:none;border:0 !important;border-radius:0 !important}
    .responsive-tabs.open li > a,.responsive-tabs li > a.active{display:block}
    .responsive-tabs .dropdown-arrow{position:absolute;top:15px;right:15px;border:solid black;border-width:0 3px 3px 0;display:inline-block;padding:3px;vertical-align:middle;transform:rotate(45deg);-webkit-transform:rotate(45deg);transition:all ease .5s;cursor:pointer}
    .responsive-tabs.open .dropdown-arrow{transform:rotate(-135deg);transition:all ease .5s}
    .about_schooldetail .ac_schooldetail .school_seventabs .medal_content{padding:20px 40px;}
    .about_schooldetail .ac_schooldetail .school_seventabs .medal_content .tabs-area ul{width: 100%;border-radius: 4px;border: solid 1px #cccccc;}
    .about_schooldetail .ac_schooldetail .school_seventabs .medal_content .tabs-area ul li a{height: 40px;padding: 10px 0 10px 40px;}
    .about_schooldetail .ac_schooldetail .school_seventabs .medal_content .tab-content{width: 100%;margin: 0;}
    .about_schooldetail .ac_schooldetail .school_seventabs .medal_content .tabs-area ul li a:before{content: "";display: none;}
    .about_schooldetail .ac_schooldetail .right_structure{width:100%;margin:0;height:unset}
    .about_schooldetail .ac_schooldetail .school_info{width:100%;margin:0;height:unset;margin:0 0 40px 0;justify-content:center;padding:30px}
    .about_schooldetail .ac_schooldetail .school_choose{height:unset;width:100%}
    .about_schooldetail .ac_schooldetail .school_info .school_text{overflow:unset;height:unset}
    .about_schooldetail .ac_schooldetail .school_info .school_name_en{font-size:1.0em;text-align:center}
    .about_schooldetail .ac_schooldetail .school_seventabs .medal_content .tabs-area ul li a.active{box-shadow: none;}
    .about_schooldetail .ac_schooldetail .school_seventabs .medal_content .tab-content .content_detail{height: unset;}
}
@media (max-width:575.98px){
    .about_schooldetail .ac_schooldetail .school_medal{height: unset;}
    .about_schooldetail .ac_schooldetail .school_seventabs .medal_content{padding: 20px 15px;}
    .about_schooldetail .ac_schooldetail .school_medal .medal_content .medal_element{width: 40%;}
    .about_schooldetail .ac_schooldetail .school_choose .medal_content .medal_element{width: 33%;}
    .about_schooldetail .ac_schooldetail .school_choose .medal_content{padding: 10px 10px 30px 10px;}
    .about_schooldetail .ac_schooldetail .school_choose .medal_content .medal_element .name{padding: 0;}
    .about_schooldetail .ac_schooldetail .school_medal .medal_content{padding-bottom: 30px;}
}



.about_schooldetail .ac_schooldetail .school_seventabs .content_detail table th{background-color: #2b4131;color: #ffffff;padding: 5px 5px;font-size: 0.9em;font-weight: 400;}
.about_schooldetail .ac_schooldetail .school_seventabs .content_detail table tr td{padding: 10px 5px;min-width: 120px;}
.about_schooldetail .ac_schooldetail .school_seventabs .content_detail table tr td img{max-width: 500px;}
.about_schooldetail .ac_schooldetail .school_seventabs .content_detail a{color: #2f7d44;text-decoration: underline;display: block;margin: 5px 10px;}
.about_schooldetail .ac_schooldetail .school_seventabs .content_detail .answer{color: #717171;font-weight: 400;margin: 15px 0 2px 10px;}
.about_schooldetail .ac_schooldetail .school_seventabs .content_detail .block_range{border-radius: 5px;background-color: #f1f1f1eb;margin: 0px 0 40px;padding: 10px 20px;}
.about_schooldetail .ac_schooldetail .school_seventabs .content_detail .block_range_m{border: 1px solid #a7c3b0;padding: 10px;margin: 0 0 30px;border-radius: 5px;}
.about_schooldetail .ac_schooldetail .school_seventabs .content_detail .block_range_m .table_element{margin: 50px 20px 0;} 
/* ========================================================================================== */
/* ==                                                                                      == */
/* ==                             Page   about_schooldetail  CSS End                              == */
/* ==                                                                                      == */
/* ========================================================================================== */


@media (max-width:1200px){}
@media (max-width:991px){}
@media (max-width: 767.98px) {}
@media screen and (max-width:575.98px){}

/* ========================================================================================== */
/* ==                                                                                      == */
/* ==                          Page   about_method  CSS End                                 == */
/* ==                                                                                      == */
/* ========================================================================================== */



/* --------map toolpopupModal modal CSS Start -------- */
.tooltipster-sidetip.tooltipster-shadow .tooltipster-box{display:block;height: 330px;}
.tooltipster-sidetip.tooltipster-shadow .tooltipster-box a{width:190px;margin:2px auto;padding:13px 16px}
.tooltipster-sidetip.tooltipster-shadow .tooltipster-box .tooltipster-content{display:flex;flex-wrap:wrap}
.tooltipster-content h3{width:100%;text-align:center;padding:20px 0 15px 0;border-bottom:1px solid #9caf88;font-size:1.688em}
.tooltipster-content .pop_medal_block{width:100%;display:flex;padding:10px 0;flex-wrap: wrap;justify-content: center;}
.tooltipster-content .pop_medal_block .medal_element{width: 38%;display:flex;margin: 3% 6%;/* flex-wrap:wrap */}
.tooltipster-content .pop_medal_block .medal_element img{background-size: 50px 50px !important;width:55px;height:55px;margin:0 auto}
.tooltipster-content .pop_medal_block .medal_element .text_div{width:100%;display:flex;flex-wrap:wrap;align-items:baseline;padding-left:0;text-align:center}
.tooltipster-content .pop_medal_block .medal_element p{margin:0}
.tooltipster-content .pop_medal_block .medal_element p:nth-child(1){width:100%;font-size:1.0em;font-weight:400}
.tooltipster-content .pop_medal_block .medal_element p:nth-child(2){width:calc(100% - 20px);font-family:Roboto;font-size:2em;font-weight:700;line-height:normal}
.tooltipster-content .pop_medal_block .medal_element p:nth-child(3){width:20px}
@media (max-width:991px){ }
/* --------map toolpopupModal modal CSS End -------- */
/* ========================================================================================== */
/* ==                                                                                      == */
/* ==                                modal CSS  End                                        == */
/* ==                                                                                      == */
/* ========================================================================================== */



/* ========================================================================================== */
/* ==                                                                                      == */
/* ==                                   Footer CSS Start                                   == */
/* ==                                                                                      == */
/* ========================================================================================== */
footer{position:relative;z-index: 1;background-color: #ffffff;}
footer .top_block{width:100%;display:flex;border-bottom:1px solid #9caf88;padding:0 0 30px}
footer .top_block>div{width:100%;display:flex;align-items: center;}
footer .top_block>div .icon_div{width:90px;height:90px;background-color:#e8efa7;padding: 21px 28px;font-size:1.125em;color:#2b4131;border-radius:50%;margin:0 20px 0 0;}
footer .top_block>div>div p{margin:0}
footer .bottom_block{text-align:center;padding:30px 0}
footer .bottom_block>p{margin:0}
footer .bottom_block>div{margin: 10px 0 0 0;}
footer .bottom_block>div a{font-size:1.063em;font-weight:500;color:#2b4131}
@media (max-width:991px){
    footer .top_block{flex-wrap: wrap;padding: 0 0 60px;}
    footer .top_block>div{margin: 20px auto;width: 450px;}
}
@media (max-width:575.98px){
    .page_mapsite .link_block>ul{height: unset;}
    .page_mapsite .link_block>ul .level_one{width: 100%;}
    footer .top_block>div .icon_div{padding:9px 14px 10px 15px;margin: 0px 15px 0px 0;width: 61px;height: 60px;font-size: 0.938em;}
    footer .top_block>div>div p{font-size: 0.875em;}
}
/* ========================================================================================== */
/* ==                                                                                      == */
/* ==                                   Footer CSS  End                                    == */
/* ==                                                                                      == */
/* ========================================================================================== */




/* */
@media print {
    * {
        -webkit-print-color-adjust: exact !important;
        -moz-print-color-adjust:exact !important;
        -ms-print-color-adjust:exact !important;
        /* page-break-inside: avoid; */
    }
    .inside_noBreak{page-break-inside: avoid;}
    .after_noBreak{page-break-after: always;}
    img{width: 150px;height: 150px;}
    /* table tr td img{ page-break-inside: avoid;} */
    p{ page-break-inside: avoid;}
    tr{ page-break-inside: avoid;}
    h3{ page-break-after: avoid;}
    /* h2,h3,h4,p,img,table,tr,td,.block_range,.block_range_m {break-inside: avoid;} */
    /* h2,h3,h4,p,table,.block_range,.block_range_m {break-inside: avoid;} */
}
